.listColor {
  text-decoration: none;
  list-style: none;
  overflow-y: scroll;
}

.nameColor {
  font-family: SF UI Display;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #2c2c2c;
  margin-right: 20px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  padding: 5px;
  padding-left: 20px;
  cursor: pointer;
}

/* .nameColor:not(:last-child) {
  margin-bottom: 10px;
} */

.nameColor:hover {
  background: #e5e5e5;
}

.containerColor {
  position: relative;
  width: 258px;
  height: 30px;
  background: #ffffff;
  border-radius: 30px;
  margin-left: 46px;
  margin-right: 157px;
}

.containerColorHover {
  position: relative;
  width: 258px;
  height: 30px;
  background: #ffffff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-left: 46px;
  margin-right: 157px;
}

.colorName {
  position: absolute;
  font-family: SF UI Display;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #2c2c2c;
  top: 8px;
  left: 20px;
}

.btnChangeColor {
  position: absolute;
  border: 1px solid #2c2c2c;
  border: none;
  top: 4px;
  left: 229px;
  background-color: inherit;
}

.containerChangeColor {
  position: absolute;
  bottom: -77px;
  width: 258px;
  height: 62px;
  overflow-y: scroll;
  background: #ffffff;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-bottom: 15px;
  z-index: 1;
}

.containerCheckbox {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 95px;
  top: 520px;
}

.containerCheckboxSec {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 95px;
  top: 555px;
}

.containerCheckboxThird {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 95px;
  top: 590px;
}

.checkbox {
  position: relative;
  cursor: pointer;
}

input {
  display: none;
}

.checkboxFirst::after {
  position: absolute;
  content: "";
  width: 17px;
  height: 17px;
  background: linear-gradient(261.65deg, #efbb37 -3.95%, #cf9e1f 109.44%);
  border-radius: 5px;
  border-radius: 5px;
  right: 61px;
  bottom: 1px;
}

.checkboxSec::after {
  position: absolute;
  content: "";
  width: 17px;
  height: 17px;
  background: linear-gradient(261.65deg, #efbb37 -3.95%, #cf9e1f 109.44%);
  border-radius: 5px;
  border-radius: 5px;
  right: 63px;
  bottom: 1px;
}

.checkboxThird::after {
  position: absolute;
  content: "";
  width: 17px;
  height: 17px;
  background: linear-gradient(261.65deg, #efbb37 -3.95%, #cf9e1f 109.44%);
  border-radius: 5px;
  border-radius: 5px;
  right: 64px;
  bottom: 1px;
}

/* .checkbox:not(:last-child) {
  margin-bottom: 10px;
} */

.checkboxTextFirst::before {
  position: absolute;
  content: "";
  width: 23px;
  height: 23px;
  background-color: #dedede;
  border-radius: 5px;
  left: -30px;
  bottom: -2px;
}

.checkboxTextSec::before {
  position: absolute;
  content: "";
  width: 23px;
  height: 23px;
  background-color: #dedede;
  border-radius: 5px;
  left: -30px;
  bottom: -2px;
}

.checkboxTextThird::before {
  position: absolute;
  content: "";
  width: 23px;
  height: 23px;
  background-color: #dedede;
  border-radius: 5px;
  left: -30px;
  bottom: -2px;
}
