.card {
  max-width: 573px;
  height: 707px;
  background: #f8fafc;
  border-radius: 25px;
}

.containerTop {
  display: flex;
}

.ContainerNew {
  width: 71px;
  height: 26px;
  background: linear-gradient(261.65deg, #efbb37 -3.95%, #cf9e1f 109.44%);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 54px;
  margin-left: 31px;
  margin-right: 57px;
}

.new {
  font-family: SF UI Display;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.containerImg {
  width: 256px;
  height: 261px;
  border-radius: 25px;
  margin-top: 53px;
  margin-right: 82px;
  margin-bottom: 25px;
  background-color: white;
}

.containerScale {
  width: 46px;
  height: 46px;
  background: #ffffff;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 43px;
  border: none;
}

.containerScale:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.containerProductName {
  width: 385px;
  height: 29px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.productName {
  font-family: SF UI Display;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #2c2c2c;
  text-align: center;
}

.containerDescription {
  width: 483px;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.descriptionProduct {
  font-family: SF UI Display;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #2c2c2c;
}

.price {
  display: flex;
  align-items: center;
}

.containerBtnPage {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 200px;
}

.btnPage {
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
}

.btnPage:not(:last-child) {
  margin-right: 20px;
}
